body {
  text-align: center;
}
.first-content {
  background-image: url(assets/images/gandhi-py.jpg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: 600px;
}
#title {
  width: 250px;
  margin: 0 auto;
  background-color: #1e7679;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
#subtitle {
  background-color: blanchedalmond;
  width: 331px;
  margin: 25px auto 0 auto;
  border-radius: 5px;
  color: brown;
}
#pic-content {
  padding: 70px;
}
.flex-section {
  display: flex;
  justify-content: space-around;
}
.flex-section img {
  border-radius: 75px;
}
.flex-section p {
  width: 250px;
}
.second-section {
  background-color: #e7f3f3;
}
h1 {
  padding: 25px;
}
.foot-flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 17px;
}
.third-section {
  margin: 30px auto 0 auto;
  width: 500px;
  background-color: #6abfa86b;
  border-radius: 20px;
}
.guide-content {
  width: 160px;
}
.foot-flex img {
  border-radius: 100px;
}
