body {
  text-align: center;
}
.first-content {
  background-image: url(assets/images/gandhi-py.jpg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: 600px;
}
#title {
  width: 250px;
  margin: 0 auto;
  background-color: #1e7679;
  color: white;
  border-radius: 5px;
}
#subtitle {
  background-color: blanchedalmond;
  width: 331px;
  margin: 25px auto 0 auto;
  border-radius: 5px;
  color: brown;
}
#pic-content {
  padding: 70px;
}
.flex-section {
  display: flex;
  justify-content: space-around;
}
